@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,300&family=Roboto&family=Rubik&family=Tektur:wght@600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tektur', sans-serif;
}




/* Dashboard */

@keyframes closeSideBar {
    from {
        width: 20%;
    }

    to {
        width: 73px;
    }
}

@keyframes openSideBar {
    from {
        width: 73px;
    }

    to {
        width: 20%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes imgShrink {
    from {
        width: 56px;
    }

    to {
        width: 37.17px;
    }
}

@keyframes imgEnlarge {
    from {
        width: 37.17px;
    }

    to {
        width: 56px;
    }
}




/* @keyframes displayLinks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideLinks {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
} */
