@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,300&family=Roboto&family=Rubik&family=Tektur:wght@600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tektur', sans-serif;
    animation: fadeIn 1s ;
}

h1 {
color : #a2fffd;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





/* Dashboard */

@keyframes closeSideBar {
    from {
        width: 280px;
    }

    to {
        width: 73px;
    }
}

@keyframes openSideBar {
    from {
        width: 73px;
    }

    to {
        width: 280px;
    }
}


@keyframes imgShrink {
    from {
        width: 56px;
    }

    to {
        width: 37.17px;
    }
}

@keyframes imgEnlarge {
    from {
        width: 37.17px;
    }

    to {
        width: 56px;
    }
}

/* navbar */

@keyframes resultDivShrink {
    from {
        height: 358px;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes resultDivEnlarge {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 358px;
        opacity: 1;
    }
}


@keyframes roomDivShrink {
    from {
        height: 464px;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes roomDivEnlarge {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 464px;
        opacity: 1;
    }
}



@keyframes notifiDivShrink {
    from {
        height: 362px;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes notifiDivEnlarge {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 362px;
        opacity: 1;
    }
}


@keyframes profileDivShrink {
    from {
        height: 296px;
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}

@keyframes profileDivEnlarge {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 296px;
        opacity: 1;
    }
}



/* feed */

    /* stories */

    @keyframes progressStoriesEnlarge_1 {
        from {
            width: 33.3%;

        }

        to {
            width: 66.6% ;
        }
    }

    @keyframes progressStoriesEnlarge_2 {
        from {
            width: 66.6%;

        }

        to {
            width: 100% ;
        }
    }

    @keyframes progressStoriesShrink_2 {
        from {
            width: 100%;

        }

        to {
            width: 66.3% ;
        }
    }

    @keyframes progressStoriesShrink_1 {
        from {
            width: 66.3%;

        }

        to {
            width: 33.3%;
        }
    }


    /* posts */


    @keyframes progressPostsEnlarge {
        from {
            width: 50%;

        }

        to {
            width: 100%;
        }
    }

    @keyframes progressPostsShrink {
        from {
            width: 100%;

        }

        to {
            width: 50%;
        }
    }

    @keyframes postInfoShrink {
        from {
            opacity: 1;
            height: 226px;

        }

        to {
            opacity: 0;
            height: 0px;

        }
    }

    @keyframes postInfoEnlarge {
        from {
            opacity: 0;
            height: 0px;
        }

        to {
            opacity: 1;
            height: 226px;
        }
    }



/* @keyframes displayLinks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideLinks {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
} */
